* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    height: 10%;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.container {
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    height: 80%;
    align-items: center;
    /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    height: 10%;
}

.container input[type=image] {
    width: 150px;
    height: auto;
}

#user_avatar {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

#idToken_user_avatar {
    width: 150px;
    height: auto;
    border-radius: 50%;
}
.container a {
    display: block;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}